* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
}

.calculator {
    background-color: #3a4452;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    flex: 1;
    text-align: right;
    font-size: 45px;
    box-shadow: none;
}

form input.expand {
    width: 145px;
}
form input.color {
    color: #33ffd8;
}
